.about{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.6rem;
}
.about div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-img-about{
  justify-self: center;
}
h2{
  font-size: 2.4rem;
  margin-bottom: 20px;
}
p{
  font-size: 1.8rem;
  line-height: 3.5rem;
}
