.about{
  width: 100%;
  height: 100vh;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.6rem;
}
.about div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2{
  font-size: 2.4rem;
  margin-bottom: 20px;
}
p{
  font-size: 1.8rem;
  line-height: 3.5rem;
}

.container-circul-about{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
