.contact{
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .form{
  width: 400px;
  display: flex;
  flex-direction: column;
}
.contact label{
  margin: 10px 0;
  font-size: 1.8rem;
}
.contact input{
  height: 25px;
  font-size: 1.6rem;
  border: none;
  padding-left: 10px;
  background-color: #f2f2f2;
}
.contact input:focus-visible,
.contact textarea{
  padding-left: 10px;
  outline: none;
}
.contact textarea{
  padding: 10px;
  font-size: 1.6rem;
}
.contact button{
  width: 150px;
  margin-top: 20px;
  padding: 10px 10px;
  align-self: center;
  font-size: 1.6rem;
  font-weight: 800;
  border: aqua solid 1px;
  color: aqua;
  background-color: #1d1d1d;
  border-radius: 5px;
  transition: background-color 1s ease-in;
}
.contact button:hover{
  background-color: aqua;
  color: black;
  cursor: pointer;
}