.contact{
  padding: 60px 0 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(26,26,26);
}
.contact h2{
  color: aqua;
}
.contact .form{
  width: 400px;
  display: flex;
  flex-direction: column;
}
.contact label{
  margin: 10px 0;
  font-size: 1.8rem;
  color: aqua;
}
.contact input{
  /* height: 25px; */
  font-size: 1.6rem;
  border: 1px solid aqua;
  border-radius: 5px;
  padding-left: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: #f2f2f2;
  /* opacity: 0.8; */
  background-color: black;
}
.contact input:focus-visible,
.contact textarea{
  padding-left: 10px;
  outline: none;
}
.contact textarea{
  padding: 10px;
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  border: 1px solid aqua;
  border-radius: 5px;
  color: #f2f2f2;
  background-color: black;
}
.contact button{
  width: 150px;
  margin-top: 20px;
  padding: 10px 10px;
  align-self: center;
  font-size: 1.6rem;
  font-weight: 800;
  border: aqua solid 1px;
  color: aqua;
  background-color: #1d1d1d;
  border-radius: 5px;
  transition: background-color 1s ease-in;
}
.contact button:hover{
  background-color: aqua;
  color: black;
  cursor: pointer;
}