.Home{
  width: 100%;
  height: 100vh;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  margin: 20px 0;
  font-weight: 600;
  font-size: 13.3rem;
  line-height: 6.7rem;
  letter-spacing: 4px;
}
.letters{
  z-index: 1;
  animation: fix 2s ease normal forwards;
}
@keyframes fix {
  from{
    position: relative;
    color: aqua;
    left: -100%;
  }
  to{
    position: relative;
    color: #f2f2f2;
    left: 0;
  }
}
/* Canvas{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1;
} */
.subtitle{
  margin: 20px 0 60px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 4px;
  animation: subSplit 3.5s cubic-bezier(.76,1.58,.37,1) normal forwards;
}
.button-contact{
  padding: 10px 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: 1px solid aqua;
  border-radius: 5px;
  letter-spacing: 2px;
  color: aqua;
  transition: background-color 0.5s ease-in;
  animation: subSplit 2s ease normal forwards;
}
.button-contact:hover{
  background-color: aqua;
  color: black;
}
@keyframes subSplit {
  from{
    position: relative;
    left: -100%;
  }
  to{
    position: relative;
    left: 0;
  }
}

.letter-home{
  display: inline-block;
}
.letter-home:hover{
  color: aqua;
}
.letter-hover:hover{
  color: aqua;
}
.letter-hover{
  display: inline-block;
  will-change: animation;
  animation: letter 1s ease-in 1;
  animation-fill-mode: both;
}

@keyframes letter {
  0%{
    transform: scale(1);
  }
  20%{
    transform: scale(1.5, 0.5);
  }
  40%{
    transform: scale(1);
  }
  60%{
    transform: scale(0.8, 1.2);  
  }
  80%{
    transform: scale(1.5, 0.5);
  }
  100%{
    transform: scale(1);
  }
}