.Home{
  width: 100%;
  height: 100vh;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  margin: 20px 0;
  font-weight: 600;
  font-size: 13.3rem;
  line-height: 6.7rem;
  letter-spacing: 4px;
}
.subtitle{
  margin: 20px 0 60px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 4px;
}
.button-contact{
  padding: 10px 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: 1px solid white;
  border-radius: 5px;
  letter-spacing: 2px;
}