*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 62.5%;
}
body{
  font-family: 'Oswald', sans-serif;
  color: aliceblue;
  background-color: #1d1d1d;
}
.container{
  display: grid;
  grid-template-columns: 130px auto;
}
.header-container{
  width: 100%;
  height: 100vh;
}
.landing-container{
  padding: 0px 40px;
}
a{
  font-size: 1.6rem;
  text-decoration: none;
  color: aliceblue;
}
li{
  font-size: 1.8rem;
}