.skills{
  width: 100%;
  height: 100vh;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(26,26,26);
}
.skills div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-flip{
  width: 300px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}
.flip1{
  width: 95%;
}
.flip2{
  width: 80%;
}
.flip3{
  width: 85%;
}
.flip4{
  width: 70%;
}
.flip{
  height: 20px;
  background-color: aqua;
  animation: 3s 1 ease normal forwards;
  animation-name: flips;
  border-radius: 4px;
}
@keyframes flips {
  from {
    width: 0%;
  } 
  to {
    width: 100%;
  }
}

.container-skills-description{
  position: relative;
  width: 100%;
}
.skills-description{
  position: absolute;
  width: 100%;
  animation: entry 4s ease forwards;
}

@keyframes entry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}