.work{
  width: 100%;
  height: 100vh;
  margin-top: 20px;
}
.work h2{
  font-size: 3rem;
  text-align: center;
}
.carts{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}